<!doctype html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!--meta http-equiv="refresh"; content="7"-->
<title>NIMS</title>
<link rel="stylesheet" type="text/css" href="/static/layout.css">
<script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/canvasjs/canvasjs.min.js"></script>
<script type="text/javascript" src="/static/nims.js"></script>
<script>

    function GetChar (event){

        var chCode = ('charCode' in event) ? event.charCode : event.keyCode;
        if (chCode == 13)
        {
            exportConfig()
            event.preventDefault();
        }


    }

    var ws = new WebSocket("ws://{{host}}/pagesocket");
    ws.onmessage = function (evt) {
        console.log("recvd message");
        process_config(evt.data);


    };

</script>
</head>

<body >

  <div id="header" class="pageHeader">
  <img class="pageHeader" src="/static/images/logo.jpg">
  </div>

  <ul class="menu">
    <li class="menu"><a class="menu" href="index.html">NIMS Interface</a></li>
    <li class="menu"><a class="menu" href="config.html">Control Panel</a></li>
  </ul class="menu">


  </div>

<br>

  <div class="table-editable">
    <table id="tracker_table" class="table" onkeypress="GetChar(event)">
      <tr>
            <th colspan="2" bgColor="LightSeaGreen"><pre>Tracker Detection Properties</pre></th>
            <th colspan="2" bgColor="LightSeaGreen"><pre>  NIMS System Settings  </pre></th>
      <tr>
          <th bgColor="LightSeaGreen"><pre>Parameter</th>
          <th bgColor="LightSeaGreen"><pre>  Value  </th>
          <th bgColor="LightSeaGreen"><pre>Parameter</th>
          <th bgColor="LightSeaGreen"><pre>  Value  </th>
      </tr>
      <tr>
        <td contenteditable="true">test</td>
        <td contenteditable="true">test</td>
      </tr>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="true">Untitled</td>
        <td contenteditable="true">undefined</td>
      </tr>
    </table>
  </div>
<br>

  <div>
  <button onClick="exportConfig()" id="export-btn" class="btn" bgColor="CadetBlue"><pre>Export Data</button>

  <p id="export"></p>
  </div>

        <fieldset class="logbar">
            <label id="log"> Connecting to NIMS monitoring system ... </label>
        </fieldset>
</body>
</html>
