<!doctype html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>NIMS</title>
<link rel="stylesheet" type="text/css" href="/static/layout.css">
<script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/canvasjs/canvasjs.min.js"></script>
<script type="text/javascript" src="/static/nims.js"></script>
<script> 
    var ws = new WebSocket("ws://nims1.pnl.gov:8888/websocket");

    ws.onmessage = function (evt) {
        look_at_test_image(evt.data)
    };
</script>
</head>


<body onload="onBodyLoad()">

<div id="header" class="pageHeader">
<img class="pageHeader" src="/static/images/logo.jpg">
</div>
<ul class="menu">
  <li class="menu"><a class="menu" href="#NIMS Interface">NIMS Interface</a></li>
  <li class="menu"><a class="menu" href="#Control Panel">Control Panel</a></li>
</ul class="menu">

<div class="main_grid">
<!-- Main body content -->
<div class="bsBlock">
	<div  class="bsContent">
		<canvas id="backscatter" class="imageplot" width="500px" height="500px"</canvas>
	</div>

	<span><pre id='metal1'>  Transducer: unknown     Resolution: 500px x 500px </span>
	<span><pre id='metal2'>      PingID: xxxx         Num Beams: xxxxx</span>     
	<span><pre id='metal3'>   Data Rage: x mb/s      Beam Width: xxxxx</pre></span>
</div>

<input class="toggle-box" id="header1" type="checkbox" checked>
<label for="header1">SA Plot</label>
<div class="graphBlock">
	<div id="graph_sa" class="graphContent"></div>
	<div id="controls_sa" class="graphControls"><pre> Controls Or Data?</div>
</div>

<input class="toggle-box" id="header2" type="checkbox" checked >
<label for="header2">SV Plot</label>
<div class="graphBlock">
	<div id="graph_sv" class="graphContent"></div>
	<div id="controls_sv" class="graphControls"><pre> Controls Or Data?</div>
</div>

<input class="toggle-box" id="header3" type="checkbox" checked >
<label for="header3">Center of Mass</label>
<div class="graphBlock">
	<div id="graph_com" class="graphContent"></div>
	<div id="controls_com" class="graphControls"><pre> Controls Or Data?</div>
</div>


<!-- End main body content -->


</div>

</body>
</html>
